@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --90s-purple: #9370DB;
  --90s-pink: #FF69B4;
  --90s-green: #32CD32;
  --90s-yellow: #FFD700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

 
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

button {
  background-color: var(--90s-yellow);
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--90s-pink);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
